<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (products.length >0) { %>
            <ul>
                <% products.forEach(p=>{ %>
                    <li>
                    <p> <%= p.title %> [<%= p.quantity %>]</p>
                    <form action="/cart-delete-item" method = "POST">
                        <input type="hidden" value="<%= p._id%>" name = 'productId'>
                    <button class="btn" type="submit">
                        Delete
                    </button>
                    </form>
                    </li>
                    <% }) %>
            </ul>
        <hr>
            <div class="center">
            <form action ="/create-order" method ="post">
                <button type = "submit" class="btn">Checkout</button>
            </form>
        </div>
            <% } else { %>
                <h1>Cart is Empty</h1>
                <% } %>
            
    </main>
        <%- include('../includes/end.ejs') %>